* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #C6D5B0;
}

.row {
	display: flex;
}

#name_title {
	text-align: right;
	margin-right: 40px;
}

#Profile_pic {
	margin: 10px 0 0 20px;
	width: 100px;
	height: 100px;
}

#big_pic {
	margin-top: 15px;
	padding-left: 25px;
	width: 100%;
	height: 350px;
}

#featured_work {
	margin-left: 1px;
}

#project_pics img {
	width: 330px;
	height: 330px;
}

#proj_pic1 {
	margin-left: 27px;
}

#proj_pic2 {
	margin-left: 15px;
}

h1 {
	font-family: 'Lobster', cursive;
	color: #DFFF6D;
}

h2,
h3 {
	color: #235D23;
	font-family: 'Cabin Sketch';
}

h3 {
	margin: 40px 0 10px 0;
	padding-left: 17px;
}

h4 {
	font-family: 'Cabin Sketch';
	text-align: center;
	margin-top: 20px;
	color: #32382C;
}

h5 {
	text-align: center;
	margin: 10px 0 35px 0;
}

